<div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="header">
          <div style="float:left;"><h4 class="title">My Careers</h4></div>
          <div style="float:right;"><a href="/user_careers/new"><i class='pe-7s-plus'></i></a></div>
        </div>

          <table class="table table-hover table-striped">
            <thead>
            <tr>
              <th>Name</th>
              <th>Start date</th>

            </tr></thead>
            <tbody>
            <% @user_careers.each do |career| %>
              <tr>
                <td><%= link_to Career.find(career.career_id).career_title, career_dashboard_path(career) %></td>
                <td><%= career.career_start.strftime("%B %-d#{","} %Y") %></td>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <div align="center"><%= will_paginate @user_careers %></div>
      </div>
    </div>



</div>