<tr class="nested-fields">
  <td><%= f.collection_select :competency_id, Competency.all, :id, :competency_title, hide_label: true %>
    <%= f.hidden_field :activity_id %>
  </td>
  <td>
    <%= link_to_remove_association raw("<i class='pe-7s-close-circle'></i>"), f %>
  </td>
</tr>